
<div class="right_col" role="main">
    <div class="row">&nbsp;&nbsp;
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="count">0000</div>
                    <h3>Total Tickets</h3>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="count">0000</div>
                    <h3>Open Tickets</h3>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="count">0000</div>
                    <h3>Closed Tickets</h3>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="count">0000</div>
                    <h3>Emergency Tickets</h3>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" id="panelbackcolor">
                <form class="form" role="search">
                    <span style="position:relative;top:8px;">&nbsp;<i class="fa fa-ticket"></i>&nbsp;Tickets Details</span>
                    <div class="input-group add-on pull-right" style="position:relative;top:8px;">
                        <a href='@Url.Action("RiseTicket", "Tickets")' type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; New Ticket</a>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <div class="row">
                    <table class="tab-score" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                        <thead class="thd">
                            <tr>
                                <th class="headeralign" data-sortable="true">Ticket Id</th>
                                <th class="headeralign" data-sortable="true">Last Update</th>
                                <th class="headeralign" data-sortable="true">Last Replier</th>
                                <th class="headeralign" data-sortable="true">Priority</th>
                                <th class="headeralign" data-sortable="true">Status</th>
                                <th class="headeralign" data-sortable="true">View More</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center">1111</td>
                                <td align="center">21 April 2016 05:21 AM</td>
                                <td align="center">Billing Department</td>
                                <td align="center">Normal</td>
                                <td align="center">Open</td>
                                <th align="center"><a class="btn btn-default" href='@Url.Action("TicketDetails","Tickets")'>View More</a></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>