<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div class="right_col" role="main">
    <div class="row">
        <br />
        <br />
        <br />

        <div class="panel panel-default ">
            <div class="panel-heading" id="panelbackcolor">
                <p>Issue Description</p>
            </div>
            <div class="container">
                <br />
                <div class="col-md-8 col-md-offset-2">
                    <form class="form" role="search">


                        <div class="add-on  ">

                            <article class="media event">
                                <a class="pull-left date">
                                    <p class="month">April</p>
                                    <p class="day">23</p>
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#" style="font-size:15pt;">Registrtion Issue</a>
                                    <p>Posted by Madan S B on 23 April 2016 09:01 AM</p>
                                </div>
                            </article>


                        </div>
                        <div class="add-on pull-right  ">

                            <img src="/images/img.jpg" class="img-responsive hidden-xs" style="height:60px;width:60px;position:relative;top:-55px;">


                        </div>
                    </form>
                    <div>
                        <p>
                            Respected Customers,
                        </p>
                        <p>

                            We would like to inform you that as we are improving our web services
                            so no tickets are pending and still we are improvising our services
                            with our web servers and we request you to kindly share your issues so
                            that our team will resolve asap and we will reach to our customer
                            satisfaction and also call us for any issues and raise tickets so that
                            we can improvise our service well.
                        </p>


                        <p>
                            This is humble request for all customer if they face any issue with
                            their services please feel free to share your views on tickets. So
                            that we can improvise our web server services well and give better
                            service to our client.
                        </p>

                    </div>
                    <div>
                        <h4 id="show">Leave Reply</h4>

                    </div>
                    <div>
                        <div class="email col-md-6" id="commentbox" style="display:none;">
                            <label for="Campian Name">Email:</label><div class="clear"></div>
                            <input type="text" class="form-control " name="Campian Name">

                            <label for="email">Response:</label><div class="clear"></div>
                            <textarea class="form-control" rows="3" id="comment"></textarea>
                        </div>

                        <div class="col-md-12" id="commentbox1" style="display:none;">
                            <br />
                            <button type="submit" class="btn btn-primary btn-md">Send</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-default buttoncolor " data-backdrop="static" data-keyboard="false">Cancel</button>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<script>
  $(document).ready(function () {

        $("#show").click(function () {
            $("#commentbox").show();
            $("#commentbox1").show();
        });
  });
</script>
