
<div class="right_col" role="main">

    <div class="row">
        &nbsp;&nbsp;
        <div class="panel panel-default">
            <div class="panel-heading" id="panelbackcolor">
                <form class="navbar-form" role="search">
                    <div class="input-group add-on  ">
                        Edit Profile
                    </div>
              
                </form>
            </div>
            <div class="panel-body">

                <form action="" enctype="multipart/form-data" method="post">
                    <div class="col-md-6">
                        <div class="register-form">
                            <div class="email col-md-10">
                                <label for="email">First Name:</label><div class="clear"></div>
                                <input type="text" class="form-control " name="firstname" value="Madan">
                            </div>
                            <div class="email col-md-10">
                                <label for="email">Last Name:</label><div class="clear"></div>
                                <input type="text" class="form-control " name="firstname" value="Madan">
                            </div>

                            <div class="name col-md-10">
                                <label for="name">Gender&nbsp;</label>
                                <div>
                                    <input data-val="true" data-val-number="The field gender must be a number." data-val-required="The gender field is required." id="omemberdetails_gender" name="omemberdetails.gender" type="radio" value="1">
                                    <label for="Male">Male</label>

                                    &nbsp;&nbsp;<input id="omemberdetails_gender" name="omemberdetails.gender" type="radio" value="2">
                                    <label for="Female">Female</label>
                                </div>
                            </div>
                            <div class="email col-md-10">
                                <label for="email">Date Of Birth:</label><div class="clear"></div>
                                <input type="text" class="form-control " name="firstname">
                            </div>
                            <div class="email col-md-10">
                                <label for="email">Address:</label><div class="clear"></div>
                                <input type="text" class="form-control " name="firstname">
                            </div>
                            <div class="email col-md-10">
                                <label for="email">City:</label><div class="clear"></div>
                                <input type="text" class="form-control " name="firstname">
                            </div>
                            <div class="email col-md-10">
                                <label for="email">Country:</label><div class="clear"></div>
                                <input type="text" class="form-control " name="firstname">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="register-form">
                            <div class="email col-md-10">
                                <label for="email ">Profession:</label><div class="clear"></div>
                                <input type="text" class="form-control " name="firstname">
                            </div>
                            <div class="name col-md-10">
                                <label for="name">Is Married?&nbsp;</label>
                                <div>

                                    <input id="Ismarried1" name="omemberdetails.is_married" type="radio" value="1">
                                    <label for="Yes">Yes</label>
                                    &nbsp;&nbsp;<input data-val="true" data-val-number="The field is_married must be a number." data-val-required="The is_married field is required." id="Ismarried2" name="omemberdetails.is_married" type="radio" value="2">
                                    <label for="No">No</label>
                                </div>
                            </div>
                            <div id="avsdate" class="email col-md-10">
                                <label for="Aniversary Date">Aniversary Date:</label><div class="clear"></div>
                                <input type="date" class="form-control " name="Aniversary Date">
                            </div>
                            <div class="email col-md-10">
                                <label for="email">About me:</label><div class="clear"></div>
                                <input type="text" class="form-control " name="firstname">
                            </div>
                            <div class="email col-md-10">
                                <label for="email">Profile Picture:</label><div class="clear"></div>
                                <input id="file" type="file" name="file">
                                <div id="dvPreview"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="col-md-12 text-center" id="register-submit">
                        <button type="submit" class="btn btn-primary btn-md">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-default buttoncolor " data-backdrop="static" data-keyboard="false">Cancel</button>

                    </div>



                </form>

            </div>






        </div>
    </div>
    
    </div>
