 
<div class="right_col" role="main">
    &nbsp;&nbsp;&nbsp;
    <div class="panel panel-default">
        <div class="panel-heading" id="panelbackcolor" style="position: static; padding: 10px 15px; padding-bottom: 0px; ">
            <form class="navbar-form" role="search">
                <div class="input-group add-on  ">
                    Payment Revert
                </div>


            </form>

        </div>
        <div class="panel-body">
            <div class="row">


            </div>
            <div class="row">

                <div class="table-responsive tablealign">
                    <br>
                    <table class="table table-bordered table-hover tablealign" style="background-color:white;">

                        <thead>
                            <tr>
                                <th class="headeralign">Transaction Id</th>
                                <th class="headeralign">Item Id</th>
                                <th class="headeralign">Event Name</th>
                                <th class="headeralign">Wishlist Name</th>
                                <th class="headeralign">Item Name</th>
                                <th class="headeralign">Amount</th>
                                <th class="headeralign">Contributer Name </th>
                                <th class="headeralign">Status</th>
                                <th class="headeralign">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="headeralign">1</th>
                                <td align="center">542</td>
                                <td align="center">aaaa</td>
                                <td align="center">Maaaaaa</td>
                                <td align="center">Mobile</td>
                                <td align="center">1000</td>
                                <td align="center">Kiran</td>
                                <td align="center">
                                    <span class="label label-success">Recived</span>
                                </td>
                                <td align="center">

                                    <p data-placement="top" data-toggle="tooltip"><button class="btn btn-default  btn-xs buttoncolor  ">Delete </button></p>

                                </td>


                            </tr>





                        </tbody>

                    </table>
                </div><!--end of .table-responsive-->
            </div>

        </div>
    </div>


</div>
