<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-exchange fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Total Orders</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-check-circle fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Successfull Orders</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-thumbs-o-down fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Canceled Orders</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-spinner fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Pending Orders</h3>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="panelbackcolor" style="position: static;">&nbsp;<i class="fa fa-first-order"></i>&nbsp;Orders Details</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 col-md-offset-9">
                    <form class="navbar-form" role="search" style="margin-bottom:0px;margin-top:0px;">
                        <div class="input-group add-on">
                            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ENO</th>
                                <th>EMPName</th>
                                <th>Country</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>001</td>
                                <td>Anusha</td>
                                <td>India</td>
                                <td>10000</td>
                            </tr>
                            <tr>
                                <td>002</td>
                                <td>Charles</td>
                                <td>United Kingdom</td>
                                <td>28000</td>
                            </tr>
                            <tr>
                                <td>003</td>
                                <td>Sravani</td>
                                <td>Australia</td>
                                <td>7000</td>
                            </tr>
                            <tr>
                                <td>004</td>
                                <td>Amar</td>
                                <td>India</td>
                                <td>18000</td>
                            </tr>
                            <tr>
                                <td>005</td>
                                <td>Lakshmi</td>
                                <td>India</td>
                                <td>12000</td>
                            </tr>
                            <tr>
                                <td>006</td>
                                <td>James</td>
                                <td>Canada</td>
                                <td>50000</td>
                            </tr>

                            <tr>
                                <td>007</td>
                                <td>Ronald</td>
                                <td>US</td>
                                <td>75000</td>
                            </tr>
                            <tr>
                                <td>008</td>
                                <td>Mike</td>
                                <td>Belgium</td>
                                <td>100000</td>
                            </tr>
                            <tr>
                                <td>009</td>
                                <td>Andrew</td>
                                <td>Argentina</td>
                                <td>45000</td>
                            </tr>

                            <tr>
                                <td>010</td>
                                <td>Stephen</td>
                                <td>Austria</td>
                                <td>30000</td>
                            </tr>
                            <tr>
                                <td>011</td>
                                <td>Sara</td>
                                <td>China</td>
                                <td>750000</td>
                            </tr>
                            <tr>
                                <td>012</td>
                                <td>JonRoot</td>
                                <td>Argentina</td>
                                <td>65000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>