<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-exchange fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Total Orders</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-check-circle fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Successfull Orders</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-thumbs-o-down fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Canceled Orders</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-spinner fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Pending Orders</h3>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading panelPading" id="panelbackcolor" style="position: static;">&nbsp;<i class="fa fa-first-order"></i>&nbsp;Orders Details</div>
        <div class="panel-body">
            <div class="row">
                <h2 class="mid_center">Empty</h2>
            </div>
        </div>
    </div>
</div>