 
<div class="right_col" role="main">
    <div class="container">

        <div class="row">
            &nbsp;&nbsp;
            <div class="panel panel-default">
                <div class="panel-heading panelPading" id="panelbackcolor">
                    &nbsp;<i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp;Edit Vendor
                  
                </div>
                <div class="panel-body">

                    <form action="" enctype="multipart/form-data" method="post">
                        <div class="col-md-6">
                            <div class="register-form">
                                <div class="email col-md-10">
                                    <label for="email">First Name:</label><div class="clear"></div>
                                    <input type="text" class="form-control " name="firstname" value="Madan">
                                </div>
                                <div class="email col-md-10">
                                    <label for="email">Last Name:</label><div class="clear"></div>
                                    <input type="text" class="form-control " name="firstname" value="Madan">
                                </div>

                                <div class="email col-md-10">
                                    <label for="email">Date Of Birth:</label><div class="clear"></div>
                                    <input type="text" class="form-control " name="firstname">
                                </div>
                                <div class="email col-md-10">
                                    <label for="Contact Person Name">Contact Person Name:</label><div class="clear"></div>
                                    <input type="text" class="form-control " name="Contact Person Name">
                                </div>
                                <div class="email col-md-10">
                                    <label for="Mobile Number">Shop Phone Number:</label><div class="clear"></div>
                                    <input type="text" class="form-control " name="Mobile Number">
                                </div>
                                <div class="email col-md-10">
                                    <label for="Mobile Number">Mobile Number:</label><div class="clear"></div>
                                    <input type="text" class="form-control " name="Mobile Number">
                                </div>
                                <div class="email col-md-10">
                                    <label for="Mobile Number"> Alternative Mobile Number:</label><div class="clear"></div>
                                    <input type="text" class="form-control " name="Mobile Number">
                                </div>
                                <div class="email col-md-10">
                                    <label for="Email Id"> Email:</label><div class="clear"></div>
                                    <input type="text" class="form-control " name="Mobile Number">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="register-form">

                                <div class="email col-md-10">
                                    <label for="Email">Alternative Email ID:</label><div class="clear"></div>
                                    <input type="text" class="form-control " name="Mobile Number">
                                </div>
                                <div class="email col-md-10">
                                    <label for="address">Company Adress:</label><div class="clear"></div>
                                    <input type="text" class="form-control " name="address">
                                </div>
                                <div class="email col-md-10">
                                    <label for="city">City:</label><div class="clear"></div>
                                    <input type="text" class="form-control " name="city">
                                </div>
                                <div class="email col-md-10">
                                    <label for="city">Country:</label><div class="clear"></div>
                                    <input type="text" class="form-control " name="Country">
                                </div>


                                <div class="email col-md-10">
                                    <label for="TAN No">TAN No:</label><div class="clear"></div>
                                    <input type="text" class="form-control " name="TAN No">
                                </div>
                                <div class="email col-md-10">
                                    <label for="About Me">About Me:</label><div class="clear"></div>
                                    <textarea class="form-control" rows="2" id="About Me"></textarea>
                                </div>
                                <div class="email col-md-10">
                                    <label for="email">Registration Certificate Picture:</label><div class="clear"></div>
                                    <input id="file" type="file" name="file">
                                    <div id="dvPreview"></div>
                                </div>
                                <div class="email col-md-10">
                                    <label for="email">Shop Picture:</label><div class="clear"></div>
                                    <input id="file" type="file" name="file">
                                    <div id="dvPreview"></div>
                                </div>

                                <div class="name col-md-10">
                                    <label for="name">verify&nbsp;</label>
                                    <div>
                                        <input data-val="true" data-val-number="The field gender must be a number." data-val-required="The gender field is required." id="omemberdetails_gender" name="omemberdetails.gender" type="radio" value="1">
                                        <label for="Male">valid</label>

                                        &nbsp;&nbsp;<input id="omemberdetails_gender" name="omemberdetails.gender" type="radio" value="2">
                                        <label for="Female">ignore</label>
                                    </div>
                                </div>


                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="col-md-12 text-center" id="register-submit">
                            <button type="submit" class="btn btn-primary btn-md">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-default buttoncolor " data-backdrop="static" data-keyboard="false">Cancel</button>

                        </div>



                    </form>

                </div>






            </div>
        </div>
    </div>
</div>