<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-exchange fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Total Vendors</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-check-circle fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Active Vendors</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-thumbs-o-down fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Pending Vendors</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-spinner fa-5x"></i>
                </div>
                <div class="count">0000</div>
                <h3>Blocked Vendors</h3>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading panelpading" id="panelbackcolor" style="position: static;">&nbsp;<i class="fa fa-black-tie"></i>&nbsp;Vendors Details</div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-colorful pay">
                        <div class="panel-body text-center">
                            <p class="text-uppercase mar-btm text-sm">Vendors</p>
                            <i class="fa fa-male fa-5x" aria-hidden="true"></i>
                            <hr>
                            <div class="box-footer" style="text-align:left;">

                                
                                <span class="text-center" style="display: list-item; list-style: none;">
                                    <a href="/Vendors/AddVendors" class="btn btn-primary btn-md">
                                        Add Vendor
                                    </a>
                                </span>
                                     
                              


                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-colorful pay">
                        <div class="panel-body text-center">
                            <p class="text-uppercase mar-btm text-sm">Categories</p>
                            <i class="fa fa-bars fa-5x" aria-hidden="true"></i>
                            <hr>
                            <div class="box-footer" style="text-align:left;">


                                <span class="text-center" style="display: list-item; list-style: none;">
                                    <a href="/Vendors/Category" class="btn btn-primary btn-md">
                                        Add Categorie
                                    </a>
                                </span>




                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-colorful pay">
                        <div class="panel-body text-center">
                            <p class="text-uppercase mar-btm text-sm">Products</p>
                            <i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
                            <hr>
                            <div class="box-footer" style="text-align:left;">


                                <span class="text-center" style="display: list-item; list-style: none;">
                                    <a href="/Vendors/Products" class="btn btn-primary btn-md">
                                        Add Products
                                    </a>
                                </span>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
